/* .......................header........................... */
.header {
  border-bottom: 1px solid #ebe8f4;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: #fff;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-logo-link {
  color: #22202e;
  font-size: 24px;
  line-height: normal;
  color: #22202e;
  margin: 0;
}
.nav-bar-menu {
  display: flex;
  gap: 44px;
  margin: 0;
  padding-left: 0px;
}

.nav-bar-item {
  color: #726e8d;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
}
.nav-bar-link {
  color: #726e8d;
}

.nav-icon-menu {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  padding-left: 100px;
}

.nav-icon-search {
  width: 16px;
  height: 16px;
  background: url("../img/search.svg");
}
.nav-icon-cart {
  width: 16px;
  height: 16px;
  background: url("../img/shopping--cart.svg");
}
.nav-icon-avatar {
  width: 16px;
  height: 16px;
  background: url("../img/user--avatar.svg");
}

/* .........................filters............................. */

.header-text {
  color: #2a254b;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 24px;
  font-weight: 400;
}

.select {
  display: flex;
  justify-content: center;
  gap: 417px;
}

.filters {
  display: flex;
  padding: 8px 24px 8px 24px;
  list-style-type: none;
  margin: 0;
}

.filter-item-select {
  color: #2a254b;
  font-size: 16px;
  line-height: 150%;
  border: 0;
}
.filter-item {
  padding: 12px 24px 12px 24px;
}
.filter-text {
  color: #2a254b;
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  margin-top: auto;
  margin-bottom: auto;
}

/* .........................main............................... */

.listings-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  list-style-type: none;
  gap: 48px 20px;
  margin: 0;
  padding: 0;
}
.name-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 153px;
}

.name-item {
  color: #2a254b;
  font-size: 20px;
  line-height: 140%;
  padding-top: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}
.price-item {
  color: #2a254b;
  font-size: 18px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 0;
}

.main-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  background: #f9f9f9;
  border: 0;
  margin-top: 48px;
  margin-bottom: 40px;
}

.main-button-link {
  color: #2a254b;
  font-size: 16px;
  line-height: 150%;
}
/* ..............................image................................ */

.image-sign {
  display: flex;
  justify-content: center;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.background-image {
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: url(../img/join-background.jpg);
  background-repeat: no-repeat;
}

.backgroung-text {
  color: #2a254b;
  font-size: 32px;
  font-weight: 400;
  padding-top: 71px;
  padding-bottom: 21px;
  padding-left: 49px;
  margin: 0;
}

.sign-text {
  color: #2a254b;
  font-size: 16px;
  line-height: 150%;
  padding-left: 49px;
  margin: 0;
  text-wrap: balance;
}

.sign-button {
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  border: 0;
  margin-top: 216px;
  margin-left: 72px;
  background: #2a254b;
}

/* .................................footer............................. */

.footer-container {
  background: #2a254b;
}

.nav-map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  justify-content: center;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #4e4d93;
  padding-top: 58px;
  padding-bottom: 58px;
}

.footer-nav {
  display: flex;
}

.footer-nav-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
}

.footer-nav-item {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.footer-nav-main {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.footer-nav-link {
  color: #fff;
}

.copyright-icons {
  display: flex;
  justify-content: center;
}

.copyright {
  display: flex;
  color: #fff;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 845px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-left: 0;
}

.social-item1 {
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-image: url(../img/logo--linkedin.svg);
}
.social-item2 {
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-image: url(../img/logo--facebook.svg);
}
.social-item3 {
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-image: url(../img/logo--instagram.svg);
}
.social-item4 {
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-image: url(../img/logo--skype.svg);
}
.social-item5 {
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-image: url(../img/logo--twitter.svg);
}
.social-item6 {
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-image: url(../img/logo--pinterest.svg);
}
